@charset "UTF-8";
/*m(^ω^)m*/
body{
    color: cadetblue;
    background: black;
}

/*ヘッダー*/
#wrap-header{
    height: 56px;
    width: 100%;
    inset: 0;
    background: rgba(133, 115, 250, 0.63);
    position: fixed;
    z-index: 50;
}
#logo{
    position: absolute;
    padding: 5px;
    left: 10%;
    top: 15px;
}
.nav_list{
    position: absolute;
    right: 10%;
    display: flex;
    list-style-type: none;
    padding: 0 30px 0 0 ;
}
.nav_item a{
    margin-left: 30px;
    color: coral;
    text-decoration: none;
}

/*メイン*/
#wrap-content{
    margin-top: 80px;
}
#pagetitle{
    margin: 10px 100px;
    font-size: 70px;
    color: cornflowerblue;
}

